# Ignore all .jpg and .png files
*.jpg
*.png

# Allow .jpg and .png files in the ./uploads directory and its subdirectories
!uploads/**/*.jpg
!uploads/**/*.png

# Ignore other specific directories and files
automatic-anamoly-detection/TX/
*.ckpt
*.venv
*.env

# Specifically keep this one file
!automatic-anamoly-detection/Model_Inference/config/patchcore_transformers.yaml

*.vscode
